<section class="see-more-about-recipies container">
  <div class="bloc-content-ingre">
    <div class="bloc-img-recipe">
      <img src="{{recipe.image}}" alt="">
    </div>
    <div class="bloc-ingredient-country-recipe">
      <div class="ingredients">
        <h2 class="title">{{recipe.region.name}}</h2>
        <div class="bloc-flag">
          <img src="{{recipe.region.flag}}" alt="">
        </div>
        <div class="bloc-ingredient">
          <h3 class="bold black">ingredients:</h3>
          <ul class="container-ingredients center">
            {{#each recipe.ingredients}}
            <li>{{this}}</li>
            {{/each}}
          </ul>

        </div>
      </div>
    </div>
  </div>
  <div class="bloc-description-recipe container" data-aos="fade-right">
    <h2 class="title center">{{recipe.name}}</h2>
    <p class="justify">{{recipe.description}}</p>
  </div>
</section>
<br />
<section class="add-form">
  <form action="/see-more" method="POST" class="container-form bg-form" enctype="multipart/form-data">
    <div class="title-form">
      <h2>Put your comment</h2>
    </div>

    <input type="text" name="username" placeholder="Username"><br />
    <br name="description" id="" cols="30" rows="10" placeholder="description"><br>
    <input type="text" name="comment" placeholder="Comment"><br><button class="submit-btn">Submit</button>
  </form>
</section>